body{background-image: url(/home/felix/Documents/Naming-page/images/drop-3698073_1920.jpg);
    
}

h1{color:white;
   position:relative;
   top:30%

}
p{color:white;}

h4{color:white}

li{color:white}
button{color:greenyellow}